.warning {
    background-color: #f5f3fb;
}

.row {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

.recipes {
    padding: 15px;
    background-color: #f4ff7b;
    border-radius: 10px;
    border-color: #ececec;
    border-bottom-style: solid;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.form {
    padding-left: 20px;
    background-color: #eceaff;
    border-radius: 10px;
}

img {
    width: 100%;
}

.image {
    padding-bottom: 10px;
}

.txt {
    color: white;
}